$img-path: '../images/';
.main {
  background: url($img-path +"background-1.png") no-repeat center -0.44rem/100% auto;
}

.header {
  width: 7.02rem;
  height: .88rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .36rem;
  font-family: 'PingFang SC Bold', sans-serif;
  color: #fff;
  position: relative;
}

.return {
  width: 0.4rem;
  height: 0.4rem;
  background: url($img-path +"back.png") no-repeat center/100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.content {
  width: 7.02rem;
  height: 7.06rem;
  margin: .2rem .24rem .42rem .24rem;
  border-radius: .1rem;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  box-shadow: 0 0 .2rem #fe81a6;
  .v-id {
    width: 100%;
    height: 100%;
    //display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .active {
    width: 2.09rem;
    height: 2.09rem;
    animation: flip 0.3s 0s 1 both;
    background: url($img-path +"question-bg.png") no-repeat center/cover;
    .v-id {
      display: flex;
      animation: flipInX 0.5s 0s 3 both;
    }
    .slider {
      display: none;
    }
  }
}

.card {
  width: 2.09rem;
  height: 2.09rem;
  background: url($img-path +"card.png") no-repeat center/cover;
  .v-id {
    display: none;
  }
  .slider {
    display: block;
  }
}

.notice {
  width: 7.02rem;
  height: 2.08rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.title h1 {
  font-family: 'PingFang SC Bold', '寰蒋闆呴粦', sans-serif;
  font-size: .3rem;
  color: #fe318e;
}

.title h2 {
  margin: 0.1rem 0;
  display: flex;
  color: #575861;
  font-size: .26rem;
  font-family: 'SanFranciscoDisplay Thin', sans-serif;
}

.title p {
  font-family: 'SanFranciscoDisplay Heavy', sans-serif;
  font-size: .26rem;
  color: #fe318e;
}

.title, .min {
  margin: 0.1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  text-align: left;

}

.min p {
  font-size: .26rem;
  font-family: 'PingFang SC Medium', sans-serif;
  color: #87878c;
  line-height: 0.4rem;

}

.divider {
  width: .38rem;
  height: .06rem;
  background: #fe318e;
}

.footer {
  width: 7.02rem;
  padding: 10px 0;
  margin: 0 auto;
  //padding: .89rem 0 .68rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer div.active {
  background: #fe318e;
  border: none;
  color: #fff;
  animation: fadeIn 1s 0s 1 both
}

.footer div {
  width: 3.43rem;
  height: .71rem;
  border-radius: .1rem;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: .34rem;
  font-family: 'PingFang SC Bold', sans-serif;
  border: 1px solid #fe318e;
  color: #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* export keyframes  */
@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(.95, .95, .95);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .6);
  padding-top: 1.08rem;
  .mask-con {
    width: 100%;
    height: 7rem;
    .button {
      width: 3.42rem;
      height: .7rem;
      position: absolute;
      bottom: .34rem;
      left: 0;
      right: 0;
      font-size: .36rem;
      color: #fff;
      text-align: center;
      line-height: .7rem;
      margin: auto;
      background: url("/static/img/zxh-button.png") no-repeat center/cover;
    }
  }
  .contents {
    color: #eee;
    width: 2.5rem;
    margin: 0.65rem auto 0;
    height: auto;
    font-size: .24rem;
    transform: rotate(5deg);
    line-height: 1.5;
  }
  .titles {
    margin-top: 1.64rem;
    width: auto;
    text-align: center;
    line-height: 1.5;
    height: .68rem;
    color: #ff3158;
    font-weight: bold;
    h2 {
      font-size: .36rem;
    }
    p {
      font-size: .24rem;
    }
  }
  .subject {
    width: 100%;
    height: 6.28rem;
    padding-top: 1px;
    position: relative;
    background: url("/static/img/zxh-background.png") no-repeat center/cover;
  }
  .game-close {
    width: .66rem;
    height: .66rem;
    margin: 0 auto;
    background: url("/static/img/zxh-close.png") no-repeat center/cover;
  }
}


